<h1>Edit {{showCook.name}}</h1>

<form action="/cooks/{{showCook._id}}?_method=PUT" method="POST">

  <div>
    <label for="name">Restaurant Name</label>
    <input type="text" name="name" value="{{showCook.name}}" />
  </div>

  <div>
    <label for="specialty">Restaurant Specialty</label>
    <textarea 
    type="text" 
    name="specialty" 
    >{{showCook.specialty}}</textarea>
  </div>

  <div>
    <label for="location">Restaurant Location</label>
    <input type="text" name="location" value="{{showCook.location}}" />
  </div>

  <div>
    <label for="restaurant_desc">Restaurant Description</label>
    <textarea 
    type="text" 
    name="restaurant_desc" 
    >{{showCook.restaurant_desc}}</textarea>
  </div>

  <div>
    <label for="food_pricepoint">Food Price</label>
    <input type="number" name="food_pricepoint" value="{{showCook.food_pricepoint}}" />
  </div>
  <button type="submit">Update</button>
</form>




