<h1>Edit {{showCook.name}}</h1>

<form action="/cook/{{h._id}}?_method=PUT" method="POST">
  <div>
    <label for="title">Restaurant Name</label>
    <input type="text" name="title" value={{showCook.name}} />
  </div>
  <div>
    <label for="description">Restaurant Specialty</label>
    <textarea 
    type="text" 
    name="description" 
    >{{showCook.specialty}}</textarea>
  </div>
  <div>
    <label for="subject">Restaurant Location</label>
    <input type="text" name="subject" value={{showCook.location}} />
  </div>
  <div>
    <label for="subject">Restaurant Description</label>
    <input type="text" name="createdBy" value={{showCook.restaurant_desc}} />
  </div>
  <div>
    <label for="subject">Food Price</label>
    <input type="date" name="dueDate" value={{showCook.food_pricepoint}} />
  </div>
  <button type="submit">Update</button>
</form>




