<h1>All Cooks</h1>

<ul>
  {{#each listOfCooks}}
  <li>
    <a href="/cook/{{_id}}">
      <p>{{name}}</p>
      <p>{{specialty}}</p>
      <p>{{location}}</p>
      <p>{{restaurant_desc}}</p>
      <p>{{meals}}</p>
      
    </a>
  </li>
  {{/each}}
</ul>

 