<h1>{{showCook.name}}</h1>
<h3>Cuisine Description: {{showCook.specialty}}</h3>
<p>Restaurant Location: {{showCook.location}}</p>
<p>Restaurant Description: {{showCook.restaurant_desc}}</p>
<p>Food Price: {{showCook.food_pricepoint}}</p>
<p>Restaurant Meals:</p>
{{#each showCook.meals}}
  <ul>
    <a href="/cooks/{{_id}}"><li>{{name}}</li></a>
  </ul>
{{/each}}

<a href="/cooks/{{showCook._id}}/edit">Edit Cook</a>
<form action="/cooks/{{showCook._id}}?_method=DELETE" method="POST">
  <button type="submit">Delete Cook</button>
</form>

